/*  Variable Declaration  */

:root {
  /*    Color Variables    */
  /*    Light Mode    */
  --light: #ffee91;
  --light-2: #fffbbf;

  --light-accent-1: #808080;
  --light-accent-1t: #60606080;
  --light-accent-2: #404040;
  --light-accent-2t: #40404080;
  --light-accent-3: #0080dd;
  --light-accent-3t: #0080dd80;
  --light-accent-4: #dd0000;
  --light-accent-4t: #dd000080;
  --light-accent-5: #000000;
  --light-accent-5t: #00000080;

  /*    Dark Mode    */
  --dark: #000000;
  --dark-2: #0f0f0f;

  --dark-accent-1: #c0c0c0;
  --dark-accent-1t: #c0c0c080;
  --dark-accent-2: #808080;
  --dark-accent-2t: #80808080;
  --dark-accent-3: #0066ff;
  --dark-accent-3t: #0066ff80;
  --dark-accent-4: #c00000;
  --dark-accent-4t: #c0000080;
  --dark-accent-5: #ffee91;
  --dark-accent-5t: #ffee9180;

  /* Universal Variables */
  --section-gap: 160px;
  --avy: url('https://cdn2.picryl.com/photo/2009/10/15/moon-false-color-mosaic-2e13f9-1024.jpg');
  --grid-img: url('https://cdn2.picryl.com/photo/2009/10/15/moon-false-color-mosaic-2e13f9-1024.jpg');
}

/*  Variables Based on User Preference  */
/* light variable declaration */
@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--light);
    --bg-2: var(--light-2);

    --border: var(--light-accent-1);
    --border-2: var(--light-accent-5);

    --text-box-header: var(--light-accent-3);
    --text-box-header-text: var(--light-accent-5);
    --text-box: var(--light-2);

    --nav: var(--light-accent-5);
    --nav-border: var(--light-accent-4);
    --nav-hover: var(--light-accent-2);
    --nav-border-hover: var(--light-accent-2);
    --nav-link: var(--light);
    --nav-link-hover: var(--light);
    --nav-link-active: var(--light-accent-4);
    --nav-link-active-hover: var(--light-accent-4);

    --button: var(--light-accent-3);
    --button-text: var(--light-accent-5);
    --button-hover: var(--light-accent-5);
    --button-text-hover: var(--light-accent-4);

    --text-1: var(--light-accent-1);
    --text-2: var(--light-accent-2);
    --text-3: var(--light-accent-3);
    --text-4: var(--light-accent-4);
    --text-5: var(--light-accent-5);

    --link: var(--light-accent-3);
    --link-active: var(--light-accent-4);
    --link-hover: var(--light);

    --color-1: var(--light-accent-1);
    --color-1t: var(--light-accent-1t);
    --color-2: var(--light-accent-2);
    --color-2t: var(--light-accent-2t);
    --color-3: var(--light-accent-3);
    --color-3t: var(--light-accent-3t);
    --color-4: var(--light-accent-4);
    --color-4t: var(--light-accent-4t);
    --color-5: var(--light-accent-5);
    --color-5t: var(--light-accent-5t);

    --color-bar-1: var(--light-accent-1);
    --color-bar-2: var(--light-accent-2);
    --color-bar-3: var(--light-accent-5);
    --color-bar-text: var(--dark-accent-5);
  }
}

/* dark variable declaration */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--dark);
    --bg-2: var(--dark-2);

    --border: var(--dark-accent-3);
    --border-2: var(--dark-accent-5);

    --text-box-header: var(--dark-accent-2);
    --text-box-header-text: var(--dark-accent-5);
    --text-box: var(--dark-2);

    --nav: var(--dark-accent-5);
    --nav-border: var(--dark-accent-4);
    --nav-hover: var(--dark-accent-2);
    --nav-border-hover: var(--dark-accent-2);
    --nav-link: var(--dark);
    --nav-link-hover: var(--dark);
    --nav-link-active: var(--dark-accent-4);
    --nav-link-active-hover: var(--dark-accent-4);

    --button: var(--dark-accent-3t);
    --button-text: var(--dark-accent-1);
    --button-hover: var(--dark-accent-5);
    --button-text-hover: var(--dark-accent-4);

    --text-1: var(--dark-accent-1);
    --text-2: var(--dark-accent-2);
    --text-3: var(--dark-accent-3);
    --text-4: var(--dark-accent-4);
    --text-5: var(--dark-accent-5);

    --link: var(--dark-accent-3);
    --link-active: var(--dark-accent-5);
    --link-hover: var(--dark);

    --color-1: var(--dark-accent-1);
    --color-1t: var(--dark-accent-1t);
    --color-2: var(--dark-accent-2);
    --color-2t: var(--dark-accent-2t);
    --color-3: var(--dark-accent-3);
    --color-3t: var(--dark-accent-3t);
    --color-4: var(--dark-accent-4);
    --color-4t: var(--dark-accent-4t);
    --color-5: var(--dark-accent-5);
    --color-5t: var(--dark-accent-5t);

    --color-bar-1: var(--dark-accent-5);
    --color-bar-2: var(--dark-accent-4);
    --color-bar-3: var(--dark-accent-3);
    --color-bar-text: var(--light-accent-5);
  }
}
