/*    Rescources   */

@import './base.css';

/*    Styling Here   */
/*    Page   */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

main {
  height: 50vh;
  width: 70vw;
  margin-left:auto;
  margin-right:auto;
}

/*    Header    */

.header {
  color: var(--text-5);
}

.page-header{
  background: var(--color-3);
  margin-top: -5vh;
}

/* Home Page */

.colorBar {
  background: linear-gradient(to right, var(--color-bar-1), var(--color-bar-2), var(--color-bar-3), var(--color-bar-2), var(--color-bar-1));
  color: var(--color-bar-text);
  padding: 1vh;
  min-height: fit-content;
  max-height: 145px;
  border: 5px solid transparent;
  border-radius: 50px;
  text-align: center;
  line-height: 5vh;
  margin-bottom: 1vh 0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 5vh;
  width: 70vw;
}

.box-header-top,
.box-header-top h1,
.box-header-bottom,
.box-header-bottom h1  {
  background: var(--color-5);
  color: var(--text-1);
}

/*    Navigation    */

nav {
  width: 100%;
  font-size: 1.15rem;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--link-active);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
  border-left: 4px solid var(--nav-border);
  color: var(--link-active);
}

nav a {
  color: var(--link);
  display: inline-block;
  padding: 0 1rem;
  border-left: 4px solid var(--nav-border);
}

nav a:hover {
  background-color: var(--nav-hover);
  color: var(--link-hover);
  border-left: 4px solid var(--nav-border-hover);
}


/*  Universal Styles */

h1 {
  color: var(--text-5);
  font-family: "Cinzel", serif;
  font-weight: 500;
  position: relative;
  top: -10px;
  text-align: center;
}

h2 {
  color: var(--text-3);
  font-family: "Parisienne", cursive;
}

h3 {
  color: var(--text-4);
  font-family: "Cinzel", serif;
  text-align: center;
}

h4 {
  color: var(--text-1);
  font-family: "Parisienne", cursive;
}

h5 {
  color: var(--text-4);
  font-family: "Cinzel", serif;
}

h6 {
  color: var(--text-3);
  font-family: "Parisienne", cursive;
}

p {
  color: var(--text-2);
  padding: 1.2em;
} 

a {
  text-decoration: none;
  transition: 0.4s;
}

body {
  min-height: 100vh;
  color: var(--text-1);
  background: var(--bg);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
}

div {
  text-align: center;
}

span {
  margin: 0 10px;
  cursor: pointer;
}

form {
  margin-bottom: 15px;
}

input {
  margin-top: 25px;
  margin-bottom: 15px;
  height: 30px;
  width: 50%;
}

button {
  margin-left: 30px;
  background-color: var(--button);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  color: var(--button-text);
}

button:hover {
  background-color: var(--button-hover);
  color: var(--button-text-hover);
}

.alert-div {
  min-height: 25px;
}

.alert {
  color: var(--text-2);
  font-size: 1em;
  font-weight: 600;
}

/*  ToDo App Styles */

.todo-app {
  padding: 5vh;
  min-width: 10vw;
}

.item {
  display: flex;
  justify-content: right;
}

.list {
  display: flex;
  font-size: 1.5em;
  justify-content: right;
  padding: 0 10vw 0 0;
  color: var(--text-5);
}

.completed {
  text-decoration: line-through;
  color: var(--text-1);
}

.todo-app h1 {
  color: var(--text-3);
}



/*   Page resizing and Item Placement    */

@media (min-width: 1024px) {

  body {
    display: flex;
    place-items: center;
  }

  .todo-app {
    padding: 0vh;
    min-width: 50vw;
  }

  .page-header{
    margin-top: -20vh;
  }
  
  .img-wrap{
    padding-top: 3vh;
    padding-bottom: 1.5vh;
    background: var(--color-4);
  }
  
  .header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 10vw;
    content: var(--avy);
    border-radius: 50%;
  }
  
  .header-title{
    background-color: rgb(2, 2, 105);
    font-size: 1.5rem;
  }

  nav {
    font-size: 1.15rem;
    text-align: left;
    display: block;
    font-family: "Cinzel";
    font-size: 16px;
    width: 10vw;
    height: 50vh;
    position: fixed; 
    top: -5vh; 
    left: 0;
    background-color: #1111113d; 
    overflow: auto;
    overflow-x: hidden; 
    padding-top: 20px;
    border-bottom-right-radius: 50px;
  }
  
  nav a {
    color: var(--link);
    padding: 0 1vw;
    border-left: 4px solid var(--border);
    margin-top: 1vh;
    max-width: 10vw;
    display: block;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    background-color: var(--nav-hover);
    color: var(--link-hover);
    border-left: 4px solid var(--nav-border-hover);
  }

  nav a.router-link-exact-active {
    color: var(--link-active);
    border-left: 4px solid var(--nav-border);
  }
  
  nav a.router-link-exact-active:hover {
    background-color: transparent;
  }
 
}

@media (max-width: 480px) {
  body {
    background: #0ff;
  }

  .header {
    color: var(--text-3);
  }

  .page-header{
    background: var(--color-5);
    margin-top: -5vh;
    max-height: 20vh;
    overflow: hidden;
  }

  .header-title{
    display: none;
  }
  
}