/*    Rescources   */

@import './base.css';

/*    Styling Here   */
/*    Page   */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

main {
  height: 50vh;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: var(--text-4);
  font-family: 'Cinzel', serif;
  font-weight: 500;
  position: relative;
  top: -10px;
  text-align: center;
}

h2 {
  color: var(--text-3);
  font-family: 'Parisienne', cursive;
}

h3 {
  color: var(--text-4);
  font-family: 'Cinzel', serif;
  text-align: center;
}

h4 {
  color: var(--text-1);
  font-family: 'Parisienne', cursive;
}

h5 {
  color: var(--text-4);
  font-family: 'Cinzel', serif;
}

h6 {
  color: var(--text-3);
  font-family: 'Parisienne', cursive;
}

p {
  color: var(--text-2);
  padding: 1.2em;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

body {
  min-height: 100vh;
  color: var(--text-1);
  background: var(--bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
}

div {
  text-align: center;
}

span {
  margin: 0 10px;
  cursor: pointer;
}

form {
  margin-bottom: 15px;
}

input {
  margin-top: 25px;
  margin-bottom: 15px;
  height: 30px;
  width: 50%;
}

button {
  margin-left: 30px;
  background-color: var(--button);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  color: var(--button-text);
}

button:hover {
  background-color: var(--button-hover);
  color: var(--button-text-hover);
}

.alert-div {
  min-height: 25px;
}

.alert {
  color: var(--text-2);
  font-size: 1em;
  font-weight: 600;
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

/*   Page resizing and Item Placement    */

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@media (max-width: 480px) {
}
